{% extends "norm_proc_app/base.html" %}
{% load static %}
{% block title %}
    <title>Criar Ticket - Helpdesk</title>
{% endblock title %}
{% block top_bar_page_title %}
    <h2 class="fs-5 fw-bold mb-0 ms-2"><i class="bi bi-file-earmark-font-fill"></i> Criar nova Solicitação</h2>
{% endblock top_bar_page_title %}
{% block css_file %}
{% endblock css_file %}
{% block main_content %}
<div class="container p-4">
    <div class="row bg-white rounded-4 p-4 border border-1">
        <div class="col-12 my-4">
            <div class="mb-4  text-muted text-center w-50 mx-auto">
                <h4 class="fw-semibold mb-2">
                    <i class="bi bi-info-square me-2 fs-1"></i><br>
                    Escolha o tipo de solicitação
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consectetur laboriosam harum, mollitia fugit deleniti incidunt corporis explicabo quae eos temporibus! Impedit eius recusandae sint officia aspernatur commodi provident ipsa!</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3 overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center border-end border-1 bg-light">
                        <i class="bi bi-file-earmark-medical-fill fs-1"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Criar Norma</h5>
                            <span class="fw-semibold">Descrição:</span>
                            <p class="card-text">
                                Defina uma nova norma organizacional para padronizar processos e garantir conformidade. Utilize esta opção quando for necessário estabelecer regras claras, requisitos obrigatórios ou diretrizes que servirão de referência para toda a instituição.
                            </p>
                            <a href="#" class="btn btn-primary">Criar Solicitação</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3 overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center border-end border-1 bg-light">
                        <i class="bi bi-file-earmark-medical-fill fs-1"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Criar Procedimento</h5>
                            <span class="fw-semibold">Descrição:</span>
                            <p class="card-text">
                                Registe ou atualize um procedimento operacional que descreva passo a passo como executar uma atividade de acordo com as normas vigentes. Esta opção é indicada para detalhar instruções práticas, fluxos de trabalho e responsabilidades, assegurando consistência na execução dos processos.
                            </p>
                            <a href="#" class="btn btn-primary">Criar Solicitação</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block scripts %}
{% endblock scripts %}